stock-ticker .axis path,
stock-ticker .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

stock-ticker .x.axis path {
  display: none;
}

stock-ticker .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}