stock-ticker svg {
  font: 10px sans-serif;
}

stock-ticker .line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

stock-ticker .axis path,
stock-ticker .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}